html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 500px;
}
.userContent{
    height: 100%;
    background-color: #fff;
    padding: 20px;
}
.el-container{
    height: 100%;
}